apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: user
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`{{ .Values.ingress.host}}`) && PathPrefix(`/user`)
      kind: Rule
      services:
        - name: user
          port: 8080
      middlewares:
        - name: user-stripprefix
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: user-stripprefix
spec:
  stripPrefix:
    prefixes:
      - /user
