name: Build

on:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
          - User
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1

      - name: Helm lint ${{ matrix.package }}
        uses: lab42/Helm@21.6.2
        with:
          helm: lint ${{ matrix.package }}

  package:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        package:
          - User
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1

      - name: Helm package ${{ matrix.package }}
        uses: lab42/Helm@21.6.2
        with:
          helm: package ${{ matrix.package }} --destination build

      - name: Upload package ${{ matrix.package }}
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: build
          retention-days: 1

  deploy:
    runs-on: ubuntu-latest
    needs: package
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1

      - name: Download all packages
        uses: actions/download-artifact@v2

      - name: Helm index
        uses: lab42/Helm@21.6.2
        with:
          helm: repo index build

      - name: Helm deploy repo
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: build

  release:
    runs-on: ubuntu-latest
    needs: package
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1

      - name: Set release version (CalVer)
        run: |
          git pull --tags
          major_minor=$(date +%y.%-m)
          rev=$(git rev-parse --short HEAD)
          latest_version=$(git tag -l --sort=-creatordate "${major_minor}.*" | head -1 | cut -d'.' -f3)
          version=$(if test -z ${latest_version}; then echo "${major_minor}.0"; else echo "${major_minor}.$((${latest_version}+1))"; fi)
          echo "RELEASE_VERSION=${version}-${rev}" >> $GITHUB_ENV

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        run: |
          git tag ${{ env.RELEASE_VERSION }}
          git push --tags
          gh release create ${{ env.RELEASE_VERSION }} --notes "Helm Charts ${{ env.HELM_VERSION }}"
