name: Build

on:
  workflow_dispatch: {}
  schedule:
    - cron:  '0 0 1 * *'

jobs:
  Lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
          - User
          - Traefik-Dashboard
          - Error
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1

      - name: Helm lint ${{ matrix.package }}
        uses: lab42/Helm@v21.6.1-916e8c0
        with:
          helm: lint ${{ matrix.package }}

  Package:
    runs-on: ubuntu-latest
    needs: Lint
    strategy:
      matrix:
        package:
          - User
          - Traefik-Dashboard
          - Error
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1

      - name: Helm package ${{ matrix.package }}
        uses: lab42/Helm@v21.6.1-916e8c0
        with:
          helm: package ${{ matrix.package }} --destination build

      - name: Upload package ${{ matrix.package }}
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: build
          retention-days: 1

  Deploy:
    runs-on: ubuntu-latest
    needs: Package
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1

      - name: Download previous packages
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        run: |
          git clone https://github.com/lab42/Charts.git build
          cd build
          git checkout gh-pages
          rm -rf .git 
          cd ../

      - name: Download all packages
        uses: actions/download-artifact@v2
        with:
          name: build

      - name: Helm index
        uses: lab42/Helm@v21.6.1-916e8c0
        with:
          helm: repo index build

      - name: Helm deploy repo
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: build
